
html{
  margin: 0px;
  padding: 0px;
  background-color: #F2F7F6
}

#page-title{
  font-size: 72px;
  color: #43CAAF;
  text-align: center;
  font-family: "Bookman", "Palatino", serif;
}

p{
  display: block;
  width: 85%;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  border: #383838 solid 2px;
}

.article-intro{
  font-size: 24px;
  color: #383838;
  text-align: center;
}



.lists-2018{
  margin: auto;
  padding: 50px;
  width: 500px;
  text-align: center;
  background-color: #383838;
  color: #F2F7F6;
}

ul{
  list-style-type: none;
}

.artist-name{
  font-style: italic;
}

a{
  color: aquamarine;
}
footer{
  background-color: #43CAAF;
  padding: 10px;
  margin: 10px;
}